.banner {
  color: white;
  text-align: center;
  //height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.headline {
  padding-top: 200px;
}

.form-center {
  text-align: center;
}

.dropdown_home {
  text-align: center;
  font-weight: lighter;
  color: black;
  max-width: 300px;
  margin-bottom: 17px;
}


.search-form {
  input {
    border-right: none;
    box-shadow: none;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    &:focus {
      outline: none !important;

    }
  }
  button {
    border-left: none;
    margin-left: -10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}

.mobile-search {
  input {
    max-width: 91%;
  }
  margin-bottom: 20px
}

.media-aside {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background-color: rgba(0,0,0,0.3);
}

.media-section {
  margin: -10px auto;
  max-width: 260px;
  min-width: 319px;
  margin-top: 20px;
  padding-top: 1px;
}

.post-section-1 {
  background-color: white;
  padding: 10px;
}

.gray-border {
  border: 1px solid #D8D5E0;
}

.purple-border {
  border: 2px solid #772660;

}

.post-section-2 {
  background-color: white;
  padding: 10px 30px;
  margin: 25px 0px;
}

body {
  background-color: #FAFAFC;
}

.school-name {
  margin-top: 71px;
  padding: 16px 0px;
}

.post-fontawesome {
  margin: 1px;
}

.post-fontawesome :hover {
  color: rgb(141, 107, 135);
  text-decoration: none;
}

.post-fontawesome a{
  color: rgb(71, 42, 71)
}

.id-badge {
  color: #49484C;
}

.badge {
  color: red;
}

.alignright {
  float: right;
}

.dropdown-toggle {
  background-color: white;
}

.signup-inputs input{
  height: 25px;
  border-radius: 3px;
}

.signup-label input {
  font-size: 10em;
}

.login-inputs input{
  height: 25px;
  border-radius: 3px;
}

.forget-link :hover {
  text-decoration: none !important;
  color: white;
}

.forget-link a {
  color: white;
  text-decoration: none !important;
}

.nav-tabs {
  padding-top: 20px;
}

.nav-tabs a {
  color: black;
  text-decoration: none !important;
}

.main-content {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  padding: 6px 0px;
}
.heart-stuff, .heart-stuff:hover, .heart-stuff:active, .heart-stuff:visited {
  text-decoration: none;
}

hr {
  margin: auto;
}


.pic-width {
  width: 100%
}

.counter {
  float: right;
}

.the-dates {
  font-weight: lighter;
  font-size: 15px;
}

.the-id {
  font-weight: bolder;
}

.post-btn {
  border: 1px solid #693569;
  color: RGBA(69, 4, 69);

  font-size: 17px;
}

.post-btn:hover {
  background-color: #FAFAFC;
  border: 1px solid #693569;
}


