<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-social">
        <div class="col-xs-4">
          <ul class="list-inline">
            <li>
            <a href="http://instagram.com">
            <i class="fa fa-instagram"></i>
            </a>
            </li>
            <li>
            <a href="http://facebook.com">
            <i class="fa fa-facebook"></i>
            </a>
            </li>
            <li>
            <a href="http://twitter.com">
            <i class="fa fa-twitter"></i>
            </a>
            </li>
            <li>
            <a href="http://youtube.com">
            <i class="fa fa-youtube"></i>
            </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-8 text-right list-inline name">
        <%= link_to root_path, class: "logo_small" do %>
          <%= image_tag "logo_2.png" %>
        <% end %>
          ShoutOut
      </div>
    </div>
  </div>
</div>
