<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-social">
        <div class="col-xs-4">
          <ul class="list-inline">
            <li><i class="fa fa-youtube"></i></li>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-8 text-right list-inline">
        <%= link_to root_path, class: "logo_small" do %>
          <%= image_tag "logo.png" %>
        <% end %>
          ShoutOut
      </div>
    </div>
  </div>
</div>
