<div class="container">
  <div class="text-center">
    <h1>About ShoutOuts</h1>
  </div>

  <h3>
    ShoutsOuts mission is to give school students the ability to share stories with one another without subject to online harassment.
  </h3>
  <strong>Basic Terms</strong>
  <ol>
    <li>
      You must be a student at a university in USA to use the Service.
    </li>
    <li>
      You must use your offisielle school-mail to use this service.
    </li>
    <li>
      You are responsible for any activity that occurs through your account.
    </li>
    <li>
      You are responsible for keeping your password secret and secure.
    </li>
    <li>
      You must not defame, stalk, bully, abuse, harass, threaten, impersonate or intimidate people or entities and you must not post private or confidential information via the Service, including, without limitation, your or any other person's credit card information, social security or alternate national identity numbers, non-public phone numbers or non-public email addresses - your account will be suspended!.
    </li>
    <li>
      You may not use the Service for any illegal or unauthorized purpose. You agree to comply with all laws, rules and regulations (for example, federal, state, local and provincial) applicable to your use of the Service and your Content, including but not limited to, copyright laws.
    </li>
    <li>
      You are solely responsible for your conduct and any data, text, information and other content or materials (collectively, "Content") that you submit, post on or via the Service.
    </li>
    <li>
      You must not use harassing communications, first and last names, offensive behavior
      Violation of these Terms of Use may, result in termination of your ShoutOut account. You understand and agree that ShoutOut cannot and will not be responsible for the Content posted on the Service and you use the Service at your own risk. If you violate the letter or spirit of these Terms of Use, or otherwise create risk or possible legal exposure for ShoutOut, we can stop providing all or part of the Service to you.
    </li>
    <li>
      ShoutOut does not claim ownership of any Content that you post on or through the Service. Instead, you hereby grant to ShoutOut a non-exclusive, fully paid and royalty-free, transferable, sub-licensable, worldwide license to use the Content that you post on or through the Service, subject to the Service's Privacy Policy,
    </li>

    <li>
      You agree that ShoutOut is not responsible for, and does not endorse, Content posted within the Service.
    </li>
    <li>
      ShoutOut can prescreen, monitor, edit, or remove any Content. If your Content violates these Terms of Use, you may bear legal responsibility for that Content.
    </li>
    <li>
      We respect other people's rights, and expect you to do the same.
      We provide you with tools to help you protect your intellectual property rights.
      If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.
    </li>
    <li>
      You can like a post by clicking the <i class="fa fa-heart-o" aria-hidden="true"></i>
    </li>
    <li>
      You kan report a post by clicking the <i class="fa fa-flag" aria-hidden="true"></i> and then the admin wil check if the post is against ShoutOuts rules, and delete the post if so.
    </li>
  </ol>
</div>
