
<div class="banner" style="background-image: url(/assets/background.jpg);">
  <div class="banner-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="headline">
          <h1>Welcome to ShoutOut.</h1>
          <h2>Connect with your friends and other fascinating people at school.</h2>
          <h2>Get in-the-moment updates.</h2>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
      </div>
    </div>
  </div>
</div>





