
<div class="banner" style="background-image: url(/assets/background.jpg);">
  <div class="banner-content">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h1>Welcome to ShoutOut.</h1>
        <strong><p>Connect with your friends and other fascinating people at school. Get in-the-moment updates.</p></strong>
      </div>
      <div class="col-xs-12 col-md-4">
      <p>Sign Up</p>
      </div>
    </div>
  </div>
</div>





