.logo_small img {
  width: 30px;
}

.footer {
  background-color: rgb(71, 42, 71);
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer-social a {
  color: white;
}

.name {
  color: white;
}
