.logo_small img {
  width: 30px;
}

.footer {
  background-color: RGBA(69, 4, 69, 0.8);
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 10px;
}

.footer-social a {
  color: white;
}

.name {
  color: white;
}
